<a href="https://colab.research.google.com/github/GTD2101-ACD-AA-EJ23/02-Python-Intermedio-20170749/blob/main/04.%20Listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Listas

En este JNB se revisará el tema de Listas

In [1]:
primes = [2, 3, 5, 7]

In [2]:
primes

[2, 3, 5, 7]

In [3]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [4]:
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

Se pueden tener listas de listas:

In [5]:
hands = [
    ['J', 'Q', 'K'],
    ['2', '2', '2'],
    ['6', 'A', 'K'], # (Comma after the last element is optional)
]
# (I could also have written this on one line, but it can get hard to read)
hands = [['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]

In [6]:
hands[0]

['J', 'Q', 'K']

In [7]:
planets[:3]

['Mercury', 'Venus', 'Earth']

In [8]:
planets[3:]

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [9]:
# All the planets except the first and last
planets[1:-1]

['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus']

# Mutabilidad de las listas
Las listas se pueden cambiar (agregar, modificar, eliminar elementos). No todas las colecciones son mutables. Por ejemplo, las tuplas (que son como listas pero con paréntesis) no son objetos mutables. Es decir, una vez se crea una tupla no se pueden cambiar sus elementos.

In [10]:
planets[3] = 'Malacandra'
planets

['Mercury',
 'Venus',
 'Earth',
 'Malacandra',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune']

In [11]:
tplanet=('mercurio', 'venus', 'tierra')

tplanet

('mercurio', 'venus', 'tierra')

In [12]:
tplanet[0]='Neptuno'

TypeError: ignored